@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;

  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(0, 101, 189);
  transition: 0.4s;
}

.prime-bg {
  background-color: rgb(0, 101, 189);
  color: white;
}

.snd-bg {

  background-color: rgb(247, 159, 7);
  color: black;
  
}